<% content_for :head do %>
  <title>Wallpapers House - Iniciar sesi칩n</title>
  <% flash.each do |key, value| %>
  <% end %>
<% end %>

<% content_for :content do %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <article class="col-12">
        <section>
            <div class="formlogin">
                <h1>Iniciar sesi칩n</h1>
                <%= form_tag '/login' do %>
                    <%= label_tag :nickname, 'Nickname' %>
                    <%= text_field_tag :nickname%>
                    <%= label_tag :password, 'Contrase침a' %>
                    <%= password_field_tag :password%>
                    <%= submit_tag "Iniciar sesi칩n"%>
                <%end%>
            </div>
        </section>
    </article>
<% end %>