<% content_for :head do %>
  <title>Wallpapers House - Crear nuevo usuario</title>
<% end %>

<% content_for :content do %>
    <article class="article col-lg-10 col-12">
        <section>
            <div class="formlogin">
                <h1>Crear nuevo usuario</h1>
                <%= form_for @user do |f|%>
                    <%= f.label :nickname, 'Nickname' %><br>
                    <%= f.text_field :nickname%><br>
                    <%= f.label :email, 'Correo electrónico' %><br>
                    <%= f.email_field :email%><br>
                    <%= f.label :password, 'Contraseña' %><br>
                    <%= f.password_field :password%><br>
                    <%= f.hidden_field :type, value: 3 %>
                    <%= f.submit "Registrarse" %>
                <%end%>
            </div>
        </section>
    </article>
<% end %>