<% content_for :head do %>
  <title>Wallpapers House - Perfil de <%=@user.nickname%></title>
<% end %>

<% content_for :content do %>
    <article class="article col-lg-10 col-12">
      <section class="perfil">
        <div class="container-fluid p-lg-3 p-0">
          <div class="row">
            <div class="col-3">
              <img class="logo" src="/imgs/profile.png" alt="imagen">
            </div>
            <div class="col-6 align-self-center">
              <p><strong>Nick:</strong> <%=@user.nickname%></p>
              <p><strong>Email:</strong> <%=@user.email%></p>
              <p><strong>Tipo de usuario:</strong> 
                <% if @user.type == 1 %>
                  Administrador
                <% elsif @user.type == 2 %>
                  Moderador
                <% else %>
                  Usuario registrado
                <% end %>
              </p>
            </div>
            <div class="col-3 align-self-center">
              <div class="upload">
                <a class="btn btn-success" href="<%= new_background_path %>">Subir nuevo fondo</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%#<h2>Mis fondos</h2>
      <section class="destacados">
        <div class="mb-5">
          <div class="gallery js-flickity fondosPropios" data-flickity-options='{ "wrapAround": true }'>
            <div class="gallery-cell"><img src="/imgs/basico.png" alt="imagen"></div>
            <div class="gallery-cell"><img src="/imgs/basico.png" alt="imagen"></div>
            <div class="gallery-cell"><img src="/imgs/basico.png" alt="imagen"></div>
            <div class="gallery-cell"><img src="/imgs/basico.png" alt="imagen"></div>
            <div class="gallery-cell"><img src="/imgs/basico.png" alt="imagen"></div>
            <div class="gallery-cell"><img src="/imgs/basico.png" alt="imagen"></div>
            <div class="gallery-cell"><img src="/imgs/basico.png" alt="imagen"></div>
          </div>
        </div>
      </section>%>
      <h2>Mis fondos subidos</h2>
      <% if @own_backgrounds.count == 0 %>
        <h3>No se han subido fondos</h3>
      <% else %>
        <section class="destacados">
          <div class="mb-5">
            <div class="row fondosPropios"></div>
            <div id="pagination" class="row justify-content-center my-4"></div>
          </div>
        </section>
      <% end %>

      <h2>Fondos favoritos</h2>
      <% if @backgrounds.count == 0 %>
        <h3>No hay fondos favoritos</h3>
      <% else %>
        <section class="destacados">
          <div class="mb-5">
            <div class="row fondosFavoritos"></div>
            <div id="pagination2" class="row justify-content-center my-4"></div>
          </div>
        </section>
      <% end %>
      
      <section class="destacados d-none">
        <div class="container-fluid">
          <h2>Imágenes favoritas</h2>
          <div class="row">
            <div class="col-1 align-self-center">
              <div class="previous">
                <img src="/imgs/left-arrow.png" alt="" srcset="">
              </div>
            </div>
            <div class="col-2 responsive">
              <img src="/imgs/basico.png" alt="imagen">
            </div>
            <div class="col-2 responsive">
              <img src="/imgs/basico.png" alt="imagen">
            </div>
            <div class="col-2 responsive">
              <img src="/imgs/basico.png" alt="imagen">
            </div>
            <div class="col-2 responsive">
              <img src="/imgs/basico.png" alt="imagen">
            </div>
            <div class="col-2 responsive">
              <img src="/imgs/basico.png" alt="imagen">
            </div>
            <div class="col-1 align-self-center">
              <div class="next">
                <img src="/imgs/right-arrow.png" alt="" srcset="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="recientes d-none">
        <div class="container-fluid">
          <h2>Mis imágenes</h2>
          <div class="row">
            <div class="col-1 align-self-center">
              <div class="previous">
                <img src="/imgs/left-arrow.png" alt="" srcset="">
              </div>
            </div>
            <div class="col-2 responsive">
              <img src="/imgs/basico.png" alt="imagen">
            </div>
            <div class="col-2 responsive">
              <img src="/imgs/basico.png" alt="imagen">
            </div>
            <div class="col-2 responsive">
              <img src="/imgs/basico.png" alt="imagen">
            </div>
            <div class="col-2 responsive">
              <img src="/imgs/basico.png" alt="imagen">
            </div>
            <div class="col-2 responsive">
              <img src="/imgs/basico.png" alt="imagen">
            </div>
            <div class="col-1 align-self-center">
              <div class="next">
                <img src="/imgs/right-arrow.png" alt="" srcset="">
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </div>
<% end %>

<% content_for :pageScripts do %>
  <script>
    var backgrounds = '<%= @backgrounds.to_json.html_safe %>';
    var own_backgrounds = '<%= @own_backgrounds.to_json.html_safe %>';
    updateFondosPerfil(own_backgrounds, '.fondosPropios', '#pagination');
    updateFondosPerfil(backgrounds, '.fondosFavoritos', '#pagination2');
  </script>
<% end %>