<% content_for :head do %>
  <title>Wallpapers House - Editar Categoria</title>
<% end %>

<% content_for :content do %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <article class="col-12">
        <section>
            <div class="formlogin">
                <h1>Editar Categoría</h1>
                <%= form_with model: @category do |f| %>
                    <%= label_tag :name, 'Nombre de la categoría' %>
                    <%= text_field_tag :name, @category.name, required: true, minlength: 4, maxlength: 16 %>
                    <%= f.hidden_field :id, value: @category.id %>
                    <%= submit_tag "Actualizar"%>
                <%end%>
            </div>
        </section>
    </article>
<% end %>